<div class="container">
  <p><strong>CNPJ:</strong> <%= emitente[:cnpj] %></p>
  <p><strong>Nome:</strong> <%= emitente[:name] %></p>
  <p><strong>Nome Fantasia:</strong> <%= emitente[:name_fant] %></p>
  <p><strong>Endereço:</strong> <%= emitente[:address] %></p>
  <p><strong>Telefone:</strong> <%= emitente[:fone] %></p>
</div>
