<section>
  <p><strong>Nome:</strong> <%= product[:name_prod] %></p>
  <p><strong>NCM:</strong> <%= product[:ncm] %></p>
  <p><strong>CFOP:</strong> <%= product[:cfop] %></p>
  <p><strong>Unidade Comercializada:</strong> <%= product[:u_com] %></p>
  <p><strong>Quantidade Comercializada:</strong> <%= product[:q_com] %></p>
  <p><strong>Valor Unitário:</strong> <%= product[:value_un_com] %></p>

  <section>
    <h4>Impostos:</h4>
    <p><strong>Valor do ICMS:</strong> <%= product[:value_icms] %></p>
    <p><strong>Valor do IPI:</strong> <%= product[:value_ipi] %></p>
    <p><strong>Valor do PIS:</strong> <%= product[:value_pis] %></p>
    <p><strong>Valor do COFINS:</strong> <%= product[:value_cofins] %></p>
  </section>
</section>
