<% unless @reports.blank? %>
  <div class="row justify-content-start container">
    <div class="col-md-6">
      <%= search_form_for @q, url: reports_path, method: :get do |f| %>
        <div class="form-group row align-items-end">
          <div class="col-md-6 mt-2">
            <%= f.label(:n_nf, "Número Nota Fiscal") %>
            <%= f.text_field(:n_nf_cont, class: "form-control", placeholder: "Pesquisar por Nota Fiscal") %>
          </div>
          <div class="col-md-4">
            <%= f.submit("Pesquisar", class: "btn btn-outline-primary mt-2") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="text-center mt-4">
  <% if @reports.blank? %>
    <h1>Sem relatórios no momento</h1>
  <% else %>
    <h1>Relatórios</h1>
    <% @reports.each do |report| %>
      <%= render(partial: 'report', locals: { report: report }) %>
    <% end %>
  <% end %>
</div>
